= page :authentication do

  = page_header "Connexion"

  = page_content do
    %label#login-errors
    %form#login-form
      %div{"data-field" => "instance"}
        = label_tag :instance, "Instance"
        = text_field_tag(:instance, nil, placeholder: "demo.ergolis.com", required: true)
      %div{"data-field" => "email"}
        = label_tag :email, "Adresse e-mail"
        = email_field_tag(:email, nil, placeholder: "admin@ekylibre.org", required: true)
      %div{"data-field" => "password"}
        = label_tag :password, "Mot de passe"
        = password_field_tag(:password, required: true)
      = button(:sign_in)
