= page :configuration do

  = page_header do
    %h1 Configuration
    = button :record_crumbs, icon: :arrow_left, as: :left_tool
    = button :sign_out, as: :right_tool

  = page_content do
    = list do |l|
      = list_divider "Saisie du nom des interventions"
      = list_item do
        = control_group type: :vertical do
          = radio_button_tag :intervention_name_input_method, :auto
          = label_tag :intervention_name_input_method_auto, "Automatique"
          = radio_button_tag :intervention_name_input_method, :write
          = label_tag :intervention_name_input_method_write, "Saisie manuelle"
        -# = field do
          = select_tag :intervention_name_input_method, options_for_select({"Automatique" => :auto, "Saisie manuelle" => :write})

      = list_divider "Développement"
      = list_item do
        = label_tag :debug_mode do
          = check_box_tag :debug_mode
          = "Mode debug"
