= page :interventions do

  = page_header do
    %h1 Interventions
    = button :quit, icon: :power_off, as: :left_tool
    = button :edit_options, icon: :wrench, as: :right_tool

  = page_content do
    %span#error-label
    %table#interventions-list.table-striped
    -# {data: {role: "table"}}
    #debug

  = page_footer do
    #active-work-clock.clock
    #clock.clock
    = control_group :tracking_actions do
      = button :intervention_start,  icon: :circle
      = button :intervention_pause,  icon: :pause
      = button :intervention_resume, icon: :play
      = button :intervention_stop,   icon: :stop
    = control_group :intervention_actions do
      = button :active_work,  icon: :cogs
      = button :barcode_scan, icon: :barcode

= dialog :choose_intervention_name do
  = page_header do
    %h3 Nouvelle intervention
  = page_content do
    = field do
      = label_tag :name, "Nom de l'intervention"
      = text_field_tag :name, nil, placeholder: "Semis, Récolte, Vidange..."
    = button :validate, icon: :check
