!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi", name: "viewport"}
    %title Rei
    = stylesheet_link_tag "application.css"
    = javascript_include_tag "phonegap.js", "barcodescanner.js"
    = javascript_include_tag "application.js"
  %body
    = render "interventions"
    = render "authentication"
    = render "configuration"
