!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title Rei
    = stylesheet_link_tag "application.css"
    = javascript_include_tag "phonegap.js", "barcodescanner.js"
    = javascript_include_tag "application.js"
  %body

    = render "home"

    = render "authentication"
    
    = render "interventions"

    #config{"data-role" => "page", "data-theme" => "a"}
      %div{"data-role" => "header"}
        %h1 Configuration
      / /header
      .ui-content{"data-role" => "content", "data-theme" => "a"}
        .buttons
          #buttonBack
            %a{"data-role" => "button"}
              %span.fa.fa-arrow-left.fa-2x
        #form-log.ui-hide-label{"data-role" => "fieldcontain"}
          %form{action: "demoform.asp", method: "post"}
            %label{for: "URL"} URL :
            %input#url{name: "url", placeholder: "url", type: "text", value: ""}/
            %label{for: "URL"} login :
            %input#user{name: "user", placeholder: "user", type: "text", value: ""}/
            %label{for: "URL"} password :
            %input#pwd{name: "passwrd", placeholder: "mot de passe", type: "password", value: ""}/
            %label#login-errors
          / Buttons
          #buttonSubmitLogin
            %a{"data-role" => "button"} Validate
          #buttonDisconnection.logButton
            %a
              %span.fa.fa-sign-out.fa-2x
        %div{"data-role" => "fieldcontain"}
          %fieldset#radio-Intervention{"data-role" => "controlgroup"}
            %legend
              Intervention Name :
            %input#radio-Intervention-Write{name: "radio-choice-1", type: "radio", value: "Write"}/
            %label{for: "radio-Intervention-Write"} Write
            %input#radio-Intervention-Auto{name: "radio-choice-1", type: "radio", value: "Auto"}/
            %label{for: "radio-Intervention-Auto"} Auto

    #close-error{"data-role" => "page", "data-theme" => "a"}
      %div{"data-role" => "header"}
        %h1 Close error
      %div{"data-role" => "content", "data-theme" => "a"}

    #name-choice{"data-role" => "dialog", "data-theme" => "a"}
      %div{"data-role" => "header"}
        %h3 Intervention name
        %div{"data-role" => "fieldcontain"}
          %label{for: "name"} Write the name of your intervention :
          %input#interventionTextName{name: "url", placeholder: "intervention name", type: "text", value: ""}/
          #buttonInterventionNameSubmit
            %a{"data-role" => "button"} Validate
